@import "tailwindcss";


@layer utilities {
  .scroll-x-auto {
    animation: scroll-x 20s linear infinite;
  }

  @keyframes scroll-x {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE/Edge */
    scrollbar-width: none; /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome/Safari */
  }
}